<mat-card>

  <mat-card-content>
    <mat-toolbar>Vinhos Disponíveis</mat-toolbar>

    <table mat-table [dataSource]="wines$" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let wines">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title >{{ wines.wine.name }}</mat-card-title>
                <mat-card-subtitle >{{ wines.wine.type }} - {{ wines.wine.grape }}</mat-card-subtitle>
                <mat-card-subtitle >{{ wines.wine.year }}</mat-card-subtitle>
                <mat-card-title >{{ wines.wine.rating }}</mat-card-title>
                <a [href]="wines.wine.url">
                  <img mat-card-xl-image [src]="wines.wine.imageName" >
                </a>

              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </td>


      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
