table {
  width: 100%;
}

.card {
  max-width: 400px;

  display: flex;
  justify-content: space-between;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-header-image {
  background-size: cover;
}
